body {
    background-image: url('bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: blueviolet;
    text-align: center;
    color: mediumseagreen
}

div.twitch-stream {
    transform: translateX(500px), translateY(900px);
    transform-origin: safe center;
}

div.heading {
    transform: translateX(100px), translateY(100px);
    text-align: center;
    transform-origin: center;
    color: darkolivegreen;
}

.h1 {
    color: darkcyan;
}

.p1 {
    color: coral;
}

div.themememachine {
    transform: translateX(300px), translateY(500px);
    /* position: fixed; */
    /* bottom: 0; */
    right: 1px;
    width: 300;
    height: 500px;
}


/* This is the style sheet */